In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\hello\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: sortedcontainers in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hello\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\hello\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in c:\users\hello\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hello\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hello\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\hello\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [18]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Question 1
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [41]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe") #setting the webdriver

In [42]:
driver.get('https://www.naukri.com/') #opening the url using the webdriver

In [43]:
search_job=driver.find_element_by_id('qsb-keyword-sugg') #Coding instructions to search for DataAnalyst jobs
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']") #Coding instructions to search the job in banglore city
search_loc.send_keys('Bangalore')

In [44]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button") #coding instructions to click on the searc button
search_btn.click()

In [45]:
job_title =[] #Creating empty list
job_loc =[]
company_name=[]
experience_required=[]

In [48]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #extracting job titles
#title_tags[0:10]

In [49]:
for i in title_tags:  #Getting only the rquired text in a list using for loop
    title=i.text
    job_title.append(title)
job_title[0:10]

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst for HANA Platform',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Data Analyst']

In [50]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") #extracting company names
#company_tags[0:10]

In [51]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Flipkart',
 'Genpact',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Schneider Electric',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Flipkart',
 'Intel',
 'NetraDyne Technology India Private Limited',
 'Maruti Suzuki India',
 'Slice']

In [52]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
#experience_tags[0:10]  #extracting experience

In [53]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['1-6 Yrs',
 '7-12 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '0-2 Yrs']

In [54]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#location_tags[0:10] #extracting locations

In [55]:
for i in location_tags:
    location=i.text
    job_loc.append(location)
job_loc[0:10]

['Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru']

In [56]:
data=list(zip(job_title,company_name,experience_required,job_loc)) #zipping all the list into a single variable

In [57]:
driver.close() #closing the website

In [58]:
df=pd.DataFrame(data, columns=['Title','Company','Experience','Location']) #Creating dataframe

In [59]:
df.set_index('Title', inplace =True) #setting the title as index and saving

In [60]:
df[0:10]

,Company,Experience,Location
Title,,,
"Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll",Flipkart,1-6 Yrs,Bangalore/Bengaluru
Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory),Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru"
Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
Data Analyst,Schneider Electric,2-5 Yrs,Bangalore/Bengaluru
Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
Senior Data Analyst for HANA Platform,Intel,5-10 Yrs,Bangalore/Bengaluru
Data Analyst,NetraDyne Technology India Private Limited,2-5 Yrs,Bangalore/Bengaluru
Assistant/deputy Manager - Geo-spatial Data Analyst,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
Data Analyst,Slice,0-2 Yrs,Bangalore/Bengaluru

# Question 2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [87]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe") #opening the browser

In [88]:
driver.get('https://www.naukri.com/') # opening the website

In [90]:
ds = driver.find_element_by_id("qsb-keyword-sugg")
ds.send_keys("Data Scientist") #searching for datascientist

In [91]:
loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc.send_keys("Banglore") # searching for loaction

In [92]:
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [94]:
job_title=[]
job_location=[]
company_name=[]

In [228]:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles[0:10]

In [100]:
for i in titles:
    job=i.text
    job_title.append(job)
job_title[0:10]

['Senior Engineer - AIML - Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Lead Programmer - Data Scientist',
 'Senior Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'Senior Data Scientist Analytics',
 'Senior Staff Data Scientist']

In [229]:
names= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#names[0:10]

In [104]:
for i in names:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Unisys',
 'IBM India Pvt. Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Juniper Networks',
 'Samya.AI A FRACTAL Entity',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Ericsson Global Services',
 'ExecBoardinAsia',
 'FabHotel Aay Kay Model Town']

In [230]:
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#locations[0:10]

In [107]:
for i in locations:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [108]:
data = list(zip(job_title, company_name, job_location))

In [109]:
df=pd.DataFrame(data, columns=['Job_Tile','Company_Name','Job_Locations'])

In [110]:
df.set_index('Company_Name', inplace=True)

In [111]:
df[0:10]

,Job_Tile,Job_Locations
Company_Name,,
Unisys,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru
IBM India Pvt. Limited,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore
GlaxoSmithKline Pharmaceuticals Limited,Lead Programmer - Data Scientist,Bangalore/Bengaluru
Juniper Networks,Senior Data Scientist,Bangalore/Bengaluru
Samya.AI A FRACTAL Entity,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru
IBM India Pvt. Limited,Data Scientist: Advanced Analytics,Bangalore/Bengaluru
IBM India Pvt. Limited,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru
Ericsson Global Services,Senior Data Scientist,Bangalore/Bengaluru
ExecBoardinAsia,Senior Data Scientist Analytics,Bangalore/Bengaluru
FabHotel Aay Kay Model Town,Senior Staff Data Scientist,Bangalore/Bengaluru

# Question 3

 In this question you have to scrape data using the filters available on the webpage
 You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data. 
Note: All of the above steps have to be done in code. No st

In [167]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [168]:
driver.get("https://www.naukri.com")

In [169]:
ds = driver.find_element_by_id("qsb-keyword-sugg")
ds.send_keys("Data Scientist")

In [170]:
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [171]:
filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
filter.click()

In [172]:
filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p")
filter.click()

In [137]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [231]:
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#job[0:10]

In [142]:
for i in job:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist']

In [232]:
loc =driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#loc[0:10]

In [150]:
for i in loc:
    place=i.text
    job_location.append(place)
job_location[0:10]

['Remote',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Chennai',
 'Noida(Sector-59 Noida)',
 'Noida, Ghaziabad, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [233]:
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#name[0:10]

In [152]:
for i in name:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Tidyquant (OPC) Private Limited',
 'Tata Consultancy Services Ltd.',
 'Newgen Software Technologies',
 'NTT Data Business Solutions Pvt Ltd',
 'Teleperformance',
 'Careerera',
 'GABA Consultancy services',
 'ApplyBoard',
 'Whizhack Technologies pvt ltd',
 'One Mobikwik Systems Private Limited']

In [234]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
#exp[0:10]

In [154]:
for i in exp:
    rqd=i.text
    experience_required.append(rqd)
experience_required[0:10]

['1-5 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '2-5 Yrs']

In [155]:
data = list(zip(job_title,job_location,company_name,experience_required))

In [156]:
df=pd.DataFrame(data, columns=['Job-Title','Location','Company','Experience-Required'])

In [157]:
df.set_index('Company',inplace=True)
df[0:10]

,Job-Title,Location,Experience-Required
Company,,,
Tidyquant (OPC) Private Limited,Project Manager | Team Leader | Senior Data Sc...,Remote,1-5 Yrs
Tata Consultancy Services Ltd.,Project Manager | Team Leader | Senior Data Sc...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-9 Yrs
Newgen Software Technologies,Project Manager | Team Leader | Senior Data Sc...,Noida,2-5 Yrs
NTT Data Business Solutions Pvt Ltd,Project Manager | Team Leader | Senior Data Sc...,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",3-8 Yrs
Teleperformance,Project Manager | Team Leader | Senior Data Sc...,"Gurgaon/Gurugram, Chennai",4-9 Yrs
Careerera,Project Manager | Team Leader | Senior Data Sc...,Noida(Sector-59 Noida),1-3 Yrs
GABA Consultancy services,Project Manager | Team Leader | Senior Data Sc...,"Noida, Ghaziabad, Delhi / NCR",0-0 Yrs
ApplyBoard,Project Manager | Team Leader | Senior Data Sc...,Gurgaon/Gurugram,3-7 Yrs
Whizhack Technologies pvt ltd,Project Manager | Team Leader | Senior Data Sc...,Gurgaon/Gurugram,2-5 Yrs
One Mobikwik Systems Private Limited,Project Manager | Team Leader | Senior Data Sc...,Gurgaon/Gurugram,2-5 Yrs

# Question 4
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price
To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual. 
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100 sunglasses.

In [25]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [26]:
driver.get('https://www.flipkart.com/')

In [27]:
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.send_keys('sunglasses')

In [28]:
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [29]:
brand=[]
description=[]
price=[]
offer=[]

In [31]:
name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
info = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
p = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")


for i in name:
    names=i.text
    brand.append(names)
#brand
for i in info:
    infos=i.text
    description.append(infos)
#description
for i in p:
    ps = i.text
    price.append(ps)
#price
for i in discount:
    d=i.text
    offer.append(d)
#offer

In [32]:
data = list(zip(brand,description,price,offer))

In [33]:
df=pd.DataFrame(data,columns=['Brands','Description','Price','Offer'])

In [36]:
#df

In [37]:
next = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [38]:
brand1=[]
description1=[]
price1=[]
offer1=[]

In [39]:
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
b=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
c=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

for i in a:
    name=i.text
    brand1.append(name)
#brand1
for i in b:
    des=i.text
    description1.append(des)
#description1
for i in c:
    cost=i.text
    price1.append(cost)
#price1
for i in d:
    discount=i.text
    offer1.append(discount)
#offer1

In [40]:
data1=list(zip(brand1,description1,price1,offer1))

In [41]:
df1=pd.DataFrame(data1,columns=['Brands','Description','Price','Offer'])
#df1

In [48]:
driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]").click()

In [49]:
brand2=[]
description2=[]
price2=[]
offer2=[]

In [50]:
e=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
f=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
g=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
h=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

for i in e:
    name=i.text
    brand2.append(name)
#brand1
for i in f:
    des=i.text
    description2.append(des)
#description1
for i in g:
    cost=i.text
    price2.append(cost)
#price1
for i in h:
    discount=i.text
    offer2.append(discount)
#offer1

In [51]:
data2=list(zip(brand2,description2,price2,offer2))

In [52]:
df2=pd.DataFrame(data2,columns=['Brands','Description','Price','Offer'])

In [53]:
final=pd.concat([df,df1,df2], axis=0)

In [54]:
final.set_index('Brands',inplace=True)

In [56]:
final[0:100]

,Description,Price,Offer
Brands,,,
ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹694,65% off
CRYSTAL CART,"UV Protection, Gradient Round Sunglasses (Free...",₹329,83% off
SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
Elligator,UV Protection Round Sunglasses (54),₹248,90% off
PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...
ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹794,60% off
Fastrack,UV Protection Wayfarer Sunglasses (55),₹605,24% off
Elligator,Mirrored Round Sunglasses (53),₹263,89% off
Rich Club,UV Protection Round Sunglasses (48),₹284,64% off
ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399,80% off

# Question 5
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace. 
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
4. You have to scrape this data for first 100 reviews.

In [63]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [64]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [65]:
driver.get(url)

In [66]:
all_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_reviews.click()

In [67]:
rating=[]
review_summary=[]
full_review=[]
full_review_1=[]

r=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr=driver.find_elements_by_xpath("//div[@class='_2-N8zT']")
fr_1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r:
    rat=i.text
    rating.append(rat)
    
for i in rs:
    rev=i.text
    review_summary.append(rev)

for i in fr:
    full=i.text
    full_review.append(full)
    
for i in fr_1:
    ful=i.text
    full_review_1.append(ful)

In [68]:
full_review.extend(full_review_1)
#full_review

In [69]:
data=list(zip(rating,review_summary,full_review))

In [70]:
df=pd.DataFrame(data,columns=['Ratings','Review','Full_Review'])

In [71]:
#df

In [72]:
next = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next.click()

In [73]:
rating0=[]
review_summary0=[]
full_review0=[]

In [74]:
r0=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs0=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr0=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r0:
    rat=i.text
    rating0.append(rat)
    
for i in rs0:
    rev=i.text
    review_summary0.append(rev)

for i in fr0:
    full=i.text
    full_review0.append(full)

In [75]:
data1=list(zip(rating0,review_summary0,full_review0))

In [76]:
df1=pd.DataFrame(data1,columns=['Ratings','Review','Full_Review'])

In [77]:
#df1

In [78]:
three = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")
three.click()

In [79]:
rating1=[]
review_summary1=[]
full_review1=[]

r1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs1=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r1:
    rat=i.text
    rating1.append(rat)
    
for i in rs1:
    rev=i.text
    review_summary1.append(rev)

for i in fr1:
    full=i.text
    full_review1.append(full)

In [80]:
data2=list(zip(rating1,review_summary1,full_review1))

In [81]:
df2=pd.DataFrame(data2,columns=['Ratings','Review','Full_Review'])

In [82]:
four = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]")
four.click()

In [83]:
rating2=[]
review_summary2=[]
full_review2=[]

r2=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs2=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr2=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r2:
    rat=i.text
    rating2.append(rat)
    
for i in rs2:
    rev=i.text
    review_summary2.append(rev)

for i in fr2:
    full=i.text
    full_review2.append(full)

In [84]:
data3=list(zip(rating2,review_summary2,full_review2))

In [85]:
df3=pd.DataFrame(data3,columns=['Ratings','Review','Full_Review'])

In [86]:
five = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]")
five.click()

In [87]:
rating3=[]
review_summary3=[]
full_review3=[]

r3=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs3=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr3=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r3:
    rat=i.text
    rating3.append(rat)
    
for i in rs3:
    rev=i.text
    review_summary3.append(rev)

for i in fr3:
    full=i.text
    full_review3.append(full)

In [88]:
data4=list(zip(rating3,review_summary3,full_review3))

In [89]:
df4=pd.DataFrame(data4,columns=['Ratings','Review','Full_Review'])

In [90]:
six = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[6]")
six.click()

In [91]:
rating4=[]
review_summary4=[]
full_review4=[]

r4=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs4=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr4=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r4:
    rat=i.text
    rating4.append(rat)
    
for i in rs4:
    rev=i.text
    review_summary4.append(rev)

for i in fr4:
    full=i.text
    full_review4.append(full)

In [92]:
data5=list(zip(rating4,review_summary4,full_review4))

In [93]:
df5=pd.DataFrame(data5,columns=['Ratings','Review','Full_Review'])

In [94]:
seven = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[7]")
seven.click()

In [95]:
rating5=[]
review_summary5=[]
full_review5=[]

r5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r5:
    rat=i.text
    rating5.append(rat)
    
for i in rs5:
    rev=i.text
    review_summary5.append(rev)

for i in fr5:
    full=i.text
    full_review5.append(full)

In [96]:
data6=list(zip(rating5,review_summary5,full_review5))

In [97]:
df6=pd.DataFrame(data6,columns=['Ratings','Review','Full_Review'])

In [98]:
eight = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[8]")
eight.click()

In [99]:
rating6=[]
review_summary6=[]
full_review6=[]

r6=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs6=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr6=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r6:
    rat=i.text
    rating6.append(rat)
    
for i in rs6:
    rev=i.text
    review_summary6.append(rev)

for i in fr6:
    full=i.text
    full_review6.append(full)

In [100]:
data7=list(zip(rating6,review_summary6,full_review6))

In [101]:
df7=pd.DataFrame(data7,columns=['Ratings','Review','Full_Review'])

In [102]:
nine = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[9]")
nine.click()

In [103]:
rating7=[]
review_summary7=[]
full_review7=[]

r7=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs7=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr7=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r7:
    rat=i.text
    rating7.append(rat)
    
for i in rs7:
    rev=i.text
    review_summary7.append(rev)

for i in fr7:
    full=i.text
    full_review7.append(full)

In [104]:
data8=list(zip(rating7,review_summary7,full_review7))

In [105]:
df8=pd.DataFrame(data8,columns=['Ratings','Review','Full_Review'])

In [106]:
ten = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[10]")
ten.click()

In [107]:
rating8=[]
review_summary8=[]
full_review8=[]

r8=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs8=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr8=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r8:
    rat=i.text
    rating8.append(rat)
    
for i in rs8:
    rev=i.text
    review_summary8.append(rev)

for i in fr8:
    full=i.text
    full_review8.append(full)

In [108]:
data9=list(zip(rating8,review_summary8,full_review8))

In [109]:
df9=pd.DataFrame(data9,columns=['Ratings','Review','Full_Review'])

In [110]:
final = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)

In [115]:
final.set_index('Ratings').tail()

                    Review                                        Full_Review
Ratings
5                Wonderful  Ok, so after almost 3 years I am again back in...
5                Must buy!  I will just say its an awesome phone. Starting...
5                 Terrific  Have used both iPhone X and iPhone XR and I ca...
4        Worth every penny  Just go for it without a second thought, if yo...
5               Delightful  Nice camera for front and back.. The display i...

## Question 6
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price

In [395]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [396]:
driver.get("https://flipkart.com/")

In [397]:
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.send_keys('sneakers')

In [398]:
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [399]:
brand=[]
product_description=[]
price=[]

In [400]:
b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [401]:
for i in b:
    br=i.text
    brand.append(br)

for i in p:
    pd=i.text
    product_description.append(pd)

for i in pr:
    p=i.text
    price.append(p)

In [402]:
data = list(zip(brand,product_description,price))

In [403]:
import pandas as pd

In [439]:
df=pd.DataFrame(data,columns=['Brands','Descriptions','Price'])

In [406]:
#df

In [409]:
two=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]").click()

In [410]:
brand1=[]
product_description1=[]
price1=[]

In [411]:
b1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [412]:
for i in b1:
    br=i.text
    brand1.append(br)

for i in p1:
    pd=i.text
    product_description1.append(pd)

for i in pr1:
    p=i.text
    price1.append(p)

In [413]:
data1 = list(zip(brand1,product_description1,price1))

In [414]:
import pandas as pd

In [415]:
df1=pd.DataFrame(data1,columns=['Brands','Descriptions','Price'])

In [417]:
#df1

In [418]:
three=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()

In [419]:
brand2=[]
product_description2=[]
price2=[]

In [420]:
b2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [421]:
for i in b2:
    br=i.text
    brand2.append(br)

for i in p2:
    pd=i.text
    product_description2.append(pd)

for i in pr2:
    p=i.text
    price2.append(p)

In [422]:
data2 = list(zip(brand2,product_description2,price2))

In [423]:
import pandas as pd

In [424]:
df2=pd.DataFrame(data2,columns=['Brands','Descriptions','Price'])

In [426]:
#df2

In [427]:
four=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]").click()

In [428]:
brand3=[]
product_description3=[]
price3=[]

In [429]:
b3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in b3:
    br=i.text
    brand3.append(br)

for i in p3:
    pd=i.text
    product_description3.append(pd)

for i in pr3:
    p=i.text
    price3.append(p)

In [430]:
data3 = list(zip(brand3,product_description3,price3))

In [431]:
import pandas as pd

In [432]:
df3=pd.DataFrame(data3,columns=['Brands','Descriptions','Price'])

In [435]:
import pandas as pd

In [440]:
Sneakers=pd.concat([df,df1,df2,df3],axis=0)

In [441]:
Sneakers.head()

     Brands                                       Descriptions   Price
0      NIKE                            Tanjun Sneakers For Men  ₹1,968
1      NIKE       Court Vapor Lite Hard Court Sneakers For Men  ₹6,685
2    Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...    ₹699
3  RapidBox               Modern Trendy Shoes Sneakers For Men    ₹680
4    BRUTON             White Sneaker For Men Sneakers For Men    ₹379

# Question 7
Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include 
“Brand” of the shoes , Short Shoe 
description, price of the shoe

In [442]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [443]:
driver.get("https://www.myntra.com/shoes/")

In [444]:
filters=driver.find_element_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
filters.click()  # applying filter to the 'casual shoes' filter as the price range asked in the question is in this section.

In [445]:
filters=driver.find_element_by_xpath("//li[@class='colour-listItem']/label")
filters.click() #applying filter to the color 'black'.

In [446]:
filters=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label")
filters.click() #applying filter to the price range between '6649 to Rs. 13099'

In [447]:
brand=[]
description=[]
price=[]

In [448]:
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")
des=driver.find_elements_by_xpath("//h4[@class='product-product']")
pr=driver.find_elements_by_xpath("//div[@class='product-price']/span")

for i in br:
    name=i.text
    brand.append(name)

for i in des:
    ds=i.text
    description.append(ds)
    
for i in pr:
    p=i.text
    price.append(p)

In [449]:
#price

In [450]:
data=list(zip(brand,description,price))

In [451]:
df=pd.DataFrame(data,columns=['Brands','Description','Price'])

In [452]:
#df

In [453]:
next=driver.find_element_by_xpath("//li[@class='pagination-number']")
next.click()

In [454]:
brand1=[]
description1=[]
price1=[]

br1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
des1=driver.find_elements_by_xpath("//h4[@class='product-product']")
pr1=driver.find_elements_by_xpath("//div[@class='product-price']/span")

for i in br1:
    name=i.text
    brand1.append(name)

for i in des1:
    ds=i.text
    description1.append(ds)
    
for i in pr1:
    p=i.text
    price1.append(p)

In [455]:
data1 = list(zip(brand1,description1,price1))

In [456]:
df1=pd.DataFrame(data1,columns=['Brands','Description','Price'])

In [457]:
df1.inplace=True

In [458]:
final=pd.concat([df,df1],axis=0)

In [459]:
final

            Brands                          Description             Price
0         Skechers            Men Energy Racer Sneakers          Rs. 6999
1         Skechers          Men ARCH FIT-TITAN Sneakers          Rs. 6999
2             Nike           Men BlazerLow '77 Sneakers          Rs. 7195
3     Hush Puppies         Men Leather Slip-On Sneakers          Rs. 6999
4     Calvin Klein         Men Textured Leather Sneaker          Rs. 9999
..             ...                                  ...               ...
45    Calvin Klein              Men Vulcanized Sneakers         (30% OFF)
46            Geox                 Men Leather Sneakers          Rs. 6999
47  Tommy Hilfiger             Men Air Leather Sneakers  Rs. 8169Rs. 8599
48            Geox  Women Woven Design Slip-On Sneakers          (5% OFF)
49             H&M          Black Leather Chelsea boots  Rs. 7599Rs. 7999

[100 rows x 3 columns]

# Question 8
Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [118]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [119]:
driver.get("https://www.amazon.in/")

In [120]:
search=driver.find_element_by_id('twotabsearchtextbox').send_keys('Laptop')

In [121]:
btn=driver.find_element_by_id('nav-search-submit-button').click()

In [126]:
driver.find_element_by_xpath("//div[@class='a-section a-spacing-none']/ul[4]/li[13]/span/a/div").click()
#filter=driver.find_element_by_id('p_n_feature_thirteen_browse-bin/16757432031').click()

In [127]:
title=[]
rating=[]
price=[]

In [9]:
tit=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
                                  
for i in tit:
    t=i.text
    title.append(t)
#title[0:10]

In [42]:
rat=driver.find_elements_by_class_name('a-icon-alt')

for i in rat:
    r=i.text
    rating.append(r)
#rating[0:10]

In [40]:
pr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

for i in pr:
    p=i.text
    price.append(p)
#price[0:10]

In [139]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
NoSuchElementException=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))

In [140]:
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")

TypeError: catching classes that do not inherit from BaseException is not allowed

# Question:9
Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [463]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [464]:
driver.get("https://www.ambitionbox.com/")

In [465]:
job = driver.find_element_by_xpath("//a[@class='link jobs']").click()

In [466]:
search=driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input").send_keys('Data Scientist')

In [467]:
btn=driver.find_element_by_xpath("//span[@class='ctas-btn-medium']").click()

In [469]:
loc=driver.find_element_by_id("location_Noida").click()

In [470]:
name=[]
post=[]
rating=[]

In [471]:
company=driver.find_elements_by_xpath("//p[@class='company body-medium']")
days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
rev=driver.find_elements_by_xpath("//a[@class='rating rating-4']")

for i in company:
    co=i.text
    name.append(co)
    
for i in days:
    ds=i.text
    post.append(ds)
    
for i in rev:
    rat=i.text
    rating.append(rat)

In [472]:
post  #comprehending the list
new_post=[]
for x in post:
    if 'ago' in x:
        new_post.append(x)
#new_post

In [473]:
data=list(zip(name,new_post,rating))

In [474]:
import pandas as pd

In [475]:
df=pd.DataFrame(data,columns=['Company_Name','Posted_On','Ratings'])

In [476]:
df

                          Company_Name Posted_On Ratings
0       LG Electronics India Pvt. Ltd.    3d ago     4.1
1        GENPACT India Private Limited   10d ago     4.1
2        GENPACT India Private Limited   10d ago     4.0
3  NTT Data Business Solutions Pvt Ltd   11d ago     4.0
4        GENPACT India Private Limited   12d ago     4.0
5                             GI Group    4d ago     4.0
6                             GI Group    4d ago     4.0
7                             GI Group    8d ago     4.0
8                     Steria India Ltd  1mon ago     4.1
9                                Zyoin    5d ago     4.1

# Question10
Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [3]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get("https://www.ambitionbox.com/")

In [5]:
job = driver.find_element_by_xpath("//a[@class='link salaries']").click()

In [6]:
search=driver.find_element_by_xpath("//div[@class='searchbox-wrapper']/span/input").send_keys('Data Scientist')

In [7]:
name=[]
num_salaries=[]
exp_required=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [8]:
co=driver.find_elements_by_xpath("//div[@class='name']/a")
num=driver.find_elements_by_xpath("//div[@class='name']/span")
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
min=driver.find_elements_by_xpath("//div[@class='value body-medium']")
max=driver.find_elements_by_xpath("//div[@class='value body-medium']")

for i in co:
    com=i.text
    name.append(com)
for i in num:
    ns=i.text
    num_salaries.append(ns)
for i in exp:
    er=i.text.replace('\n',' ').split('.')[1]
    exp_required.append(er)
for i in avg:
    a=i.text
    avg_salary.append(a)
#avg_salary[0:10]

for i in min:
    m=i.text
    min_salary.append(m)
#min_salary

for i in max:
    x=i.text
    max_salary.append(x)
#max_salary

In [20]:
data = list(zip(name,num_salaries,exp_required,avg_salary,min_salary,max_salary))

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(data,columns=['Company Name','Reported No. Salaries','Experience_Rqd','Avg_Salary','Min_Salary','Max_Salary'])

In [23]:
df

,Company Name,Reported No. Salaries,Experience_Rqd,Avg_Salary,Min_Salary,Max_Salary
0,Ab Inbev,based on 20 salaries,3-4 yrs exp,₹ 19.0L,₹ 15.0L,₹ 15.0L
1,ZS,based on 12 salaries,2 yrs exp,₹ 15.3L,₹ 23.0L,₹ 23.0L
2,Optum,based on 23 salaries,3-4 yrs exp,₹ 15.0L,₹ 9.8L,₹ 9.8L
3,Fractal Analytics,based on 66 salaries,2-4 yrs exp,₹ 15.0L,₹ 19.5L,₹ 19.5L
4,UnitedHealth,based on 47 salaries,2-4 yrs exp,₹ 13.5L,₹ 11.0L,₹ 11.0L
5,Tiger Analytics,based on 26 salaries,3-4 yrs exp,₹ 13.5L,₹ 21.3L,₹ 21.3L
6,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 9.5L,₹ 9.5L
7,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 22.0L,₹ 22.0L
8,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 11.7L,₹ 7.2L,₹ 7.2L
9,Deloitte,based on 49 salaries,2-4 yrs exp,₹ 11.2L,₹ 20.5L,₹ 20.5L